<div class="container col-6">
    <form #regForm="ngForm" (ngSubmit)="mostrarForm()">
        <div class="mb-3 row">
            <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputNombre" name="nombre" [(ngModel)]="modelo.nombre" required >
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputDirector" class="col-sm-2 col-form-label">Director</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputDirector" name="director" [(ngModel)]="modelo.director" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputGenero" class="col-sm-2 col-form-label">Género</label>
            <div class="col-sm-8">
              <select name="genero" id="inputGenero" class="form-control" required [(ngModel)]="modelo.genero">
                <option selected disabled>Selecione...</option>
                <option *ngFor="let genero of generos" [value]="genero" >{{ genero }}</option>
              </select>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="button" class="btn-check" name="ocultar" id="btnradio1" autocomplete="off" (click)="ocultarDetalle()">
          <label class="btn btn-outline-danger" for="btnradio1">Ocultar</label>
        
          <input type="submit" class="btn-check" name="submit" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio2">Mostrar</label>
        </div>
    </form>
    <hr>
    <div class="mt-3" [hidden]= !modelo.estado >
            <pre>{{ modelo | json }}</pre>
    </div>
</div>>
